* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: azure;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 2vw;
}

#navigation {
  color: black;
  text-decoration: none;
  margin: 1vw 0 1vw 2vw;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navigation a {
  font-size: 1.1rem;
  margin: 1vw;
  text-decoration: none;
  color: black;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: initial;
  height: 10vh;
  width: 7vw;
}
.logo-name {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-name p{
    color: darkgreen;
}
#register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  gap: 20px;
  height: 10vh;
  width: auto;
}
#sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(225, 120, 34, 0.758);
  border-radius: 30px;
  height: 5vh;
  width: 7vw;
}

#sign-up:hover {
  cursor: pointer;
  background-color: rgba(225, 161, 109, 0.758);
}
#sign-up a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
}
#sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 5vh;
  width: 7vw;
  border-radius: 30px;
}
#sign-in a {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
}

/* .home-pg{
    position: relative;
    padding: 1.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #5ab582;
    height: 80vh;
    width: 100%;
    clip-path: polygon(49% 100%, 100% 88%, 100% 0, 0 0, 0 88%);
}

.home-left{
    margin: 0 1.5vw;
    height: 50vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.home-text1{
    height: 15vh;
    width: 50%;
    margin: 0.5vw 2vw;
}
.home-text1 span {
    font-size: 2vw;
    color: #fff;
}
.home-text1 span .bold{
    font-weight: 900;
}
.home-text1 span .light{
    font-weight: 400;
}

.home-text2{
    height: 13vh;
    width: 50%;
    margin: 0.5vw 2vw;
    
}
.home-text2 span p{
    font-size: 1.3rem;
    color: #4C0F01;
    font-weight: 300;
    line-height: 2vw;
}

.home-download{
    height: 10vh;
    width: 60%;
    margin: 1vw 0 1vw 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.apple{
    height: 100%;
    width: 50%;
    background: url(https://assets.mynetdiary.com/images/app-store-badge.svg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: contain;

}
.playstore{
    height: 100%;
    width: 50%;
    background: url(https://assets.mynetdiary.com/images/google-play-badge.svg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-plate{
    position: absolute;
    background-image: url("plate-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: initial;
    height: 30vh;
    width: 26%;
    margin-left: 116%;
    clip-path: circle(55% at 100% 55%);
    background-position-x: left 55px;
    margin-top: -17vh;
}

.home-right{
    margin: 0 1.5vw;
    height: 50vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
} */

.Home{
    height: 140vh;
}
.home-pg {
  position: relative;
  padding: 1.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #5ab582;
  height: 80vh;
  width: 100%;
  clip-path: polygon(49% 100%, 100% 88%, 100% 0, 0 0, 0 88%);
}

.home-left {
  margin: 0 1.5vw;
  height: 50vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.home-right {
  margin: 0 1.5vw;
  height: 50vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.home-text1 {
  height: 15vh;
  width: 50%;
  margin: 0.5vw 2vw;
}
.home-text1 span {
  font-size: 2vw;
  color: #fff;
}
.home-text1 span .bold {
  font-weight: 900;
}
.home-text1 span .light {
  font-weight: 400;
}

.home-text2 {
  height: 13vh;
  width: 50%;
  margin: 0.5vw 2vw;
}
.home-text2 span p {
  font-size: 1.3rem;
  color: #4c0f01;
  font-weight: 300;
  line-height: 2vw;
}

.home-download {
  height: 10vh;
  width: 60%;
  margin: 1vw 0 1vw 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.apple {
  height: 100%;
  width: 50%;
  background: url(https://assets.mynetdiary.com/images/app-store-badge.svg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: contain;
}
.playstore {
  height: 100%;
  width: 50%;
  background: url(https://assets.mynetdiary.com/images/google-play-badge.svg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-plate {
    background-image: url(images&logo/plate-img.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: initial;
    height: 54vh;
    width: 40%;
    margin-left: 102%;
    margin-top: -5vh;
    clip-path: circle(95% at 100% 60%);
}

.phone-img {
  position: absolute;
  height: 105vh;
  width: 30%;
  top: 20vh;
  left: 35vw;
}
.phone-img img {
  height: 100%;
  width: 100%;
}

.rating {
  height: 10vh;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-left: 3vw;
}

.rating-heading {
  height: 5vh;
  width: 100%;
  padding: 0 2vw;
}

.rating-heading .rev1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #46618a;
}

.rating-heading .rev2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #46618a;
}

.rev-secction {
  height: 10vh;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 1vw 2vw;
}
.rev-axpple {
  font-size: 1.1rem;
  width: 19%;
  height: 5vh;
}
.rev-android {
    /* margin-left: 1vw; */
  width: 20%;
}
.fa-apple {
  color: #46618a;
}
.fa-star {
  color: gold;
}

.fa-regular {
  color: #46618a;
}

.fa-android {
  color: #46618a;
}

.text{
    /* text-align: center; */
    position: relative;
    bottom: -35vh;
    font-size: 2rem;
    font-weight: 555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    height: 2px;;
    background-color: rgb(255, 69, 69);
    width: 80%;
    margin: 0 130px;
}
.line1{
    height: 2px;
    background-color: rgb(255, 69, 69);
}

.Achievement{
    margin-top: 10vh;
}
.topic{
    text-align: center;
    color: rgb(30, 153, 229);
    font-size: xx-large;
    padding: 20px;
    margin: 5vh;
}
.row {
display: flex;
justify-content: space-around;
margin: 5vh 0;
padding: 3vw;
}

.image-column {
text-align: center;
width: 40%;
}

.image-column img {
max-width:50%;
height: 50%;
}
.achieve{
    font-family: sans-serif;
    font-size: x-large;
    padding: 4px;
    color: rgb(30, 153, 229);
}
.des{
    padding: 4px;
    font-size: large;
}


.Cards{
    margin-top: 10vh;
    height: auto;
}
.cards-box {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}

.cards-title{
    margin-bottom: 7vh;
    font-size: x-large;
    text-align: center;
    margin-top: 2vh;
    color: #6fc4e9;
}

.card {
  height: 60vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  color: #3c6678;
  padding: 16px;
}

.card-title {
  font-size: 1em;
  color: #3c6678;
  margin-bottom: 8px;
}

.card-description {
    color: #3c6678;
}




.Companies{
    margin: 5vh 0;
}

.comp{
    font-size: 3em;
    color: #6fc4e9;
    text-align: center;
    margin-bottom: 2vw;
}

.company-logo{
    display: flex;
    padding: 45px 80px 0px 80px;
    justify-content: center;
}

.comp-logo{
    padding: 0 20px;
}

.add{
height: 80vh;
width: 100%;
    background-color: #5ab582;
    clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* padding: 2vw; */
}

.add-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 30%;
}
.add-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vw;
}
.add-text p{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 7vh;
}

.re-signup{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 10vw;
    margin-top: 6vh;
    font-size: 1.3rem;
    background-color: 
    #FFEB81;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}
.add-right{
    display: flex;
    align-items: flex-end;
    margin: 0 0 0 3vw;
}
.add-img{
    height: 60vh;
}
.add-img img{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.footer-lower{
    background-color: #d9d9d9;
    height: auto ;
    padding-top: 5vh;
}

.footer-lower-cont{
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    margin: 0vh 30vw;
}

.footer-lower-logos{
    display: flex;
    justify-content: space-between;
    margin: 5vh 35vw;
    padding: 3vh;
}
.mail{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
}
.calender{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
}
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
}

.sheild{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
}
.copyright{
    text-align: center;
    font-size: 1rem;
    padding: 1.5vw;
    background-color: #d9d9d9;
}